<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% if (page.__post) {%>
  <% const excerpt = text => text.length <= 200 ? text : text.slice(0, 200 - 3) + "..." %>
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id, image: page.image ? "https://blog.legiec.io" + page.image : null, description: excerpt(page.excerpt || page.content)}) %>
  <% } %>
  
  <% if (page.__post) { %>
    <meta name="twitter:label1" value="Reading time 👀">
    <meta name="twitter:data1" value="<%= symbolsTime(page.content, config.symbols_count_time.awl, config.symbols_count_time.wpm, config.symbols_count_time.suffix) %>">
  <% } %>

  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Montserrat:800|Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/prism-theme-night-owl@1.0.1/style.min.css" rel="stylesheet">
  <%- css('css/prism-custom') %>

  <%- css('css/style') %>  
</head>
